@{
    ViewData["Title"] = "Welcome";

    ViewData["Header"] = ViewData["Title"];

}

<!-- Slideshow container -->
<div class="slideshow-container" style="text-align:center">

    <!-- Full-width images -->
    <div class="mySlides fade">
        <img src="~/img/crash1.jpeg" width="800" height="500" />
    </div>

    <div class="mySlides fade">
        <img src="~/img/crash2.jpeg" width="800" height="500" />
    </div>

    <div class="mySlides fade">
        <img src="~/img/crash3.jpeg" width="800" height="500" />
    </div>

    <div class="mySlides fade">
        <img src="~/img/crash4.jpg" width="800" height="500" />
    </div>

</div>

<br />

<p>
    Welcome to the Utah Automotive Incident Database website. It is our mission to better inform all interested entities concerning automotive crashes in the state of Utah, including predictive models, in order to
    help to make better decisions. This site includes information about crashes already recorded in the system, filters for easier access to related crashes, and admin functionality for direct access to modifying the database.
    Because car crashes are so serious, and because they are becoming more common, we hope that this system will help to turn the tide of fatality on Utah's roads.
</p>

<div style="text-align:center"><a class="btn btn-lg btn-primary custom-btn-rounded" asp-area="" asp-controller="Home" asp-action="SummaryInformation"><b><i>Access The Utah Accident Database</i></b></a></div>
<br />
