@{
    ViewData["Title"] = "Landing Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h5>Test link to another page:</h5>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

</div>*@

<p>Replace this text later with a description of the website.</p>
