@{
    ViewData["Title"] = "Summary Crash Information";
}
@model CrashesViewModel

    <div class="container">
        <div class="row m-1 p-1">
            <div id="counties" class="col-3">
                <h5>Crash Severity Filter</h5>
                <vc:severity></vc:severity>
            </div>
            <div class="col-9">


                <div class="text-center">
                    <h1 class="display-4">Crashes</h1>

                    <!--section for crashes listed out on page-->
                    @foreach (Crash c in Model.Crashes)
                    {
                        <partial name="CrashSummary" model="@c" />
                    }

                    <!--links ot other pages of crashes-->
                    <div page-links="@Model.PageInfo" page-action="SummaryInformation" page-classes-enabled="true"
                         page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
                         class="btn-group pull-right m-1">
                    </div>

                </div>
            </div>
        </div>
    </div>